# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

coverage
\*.lcov

node_modules/
jspm_packages/
.npm

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.dev.vars
.wrangler/
.DS_Store
.cursor
.idea
