name = "da-ue"
main = "src/index.js"
compatibility_date = "2023-11-21"

vars = { UE_HOST = "ue.da.live", DA_ADMIN = "https://admin.da.live" }
services = [{ binding = "daadmin", service = "da-admin" }]

[dev]
port = 4712

[env.dev]
vars = { ENVIRONMENT = "dev", UE_HOST = "localhost:4712", UE_SERVICE = "https://localhost:8000", DA_ADMIN = "https://admin.da.live" }
services = [{ binding = "daadmin", service = "da-admin" }]

[env.stage]
vars = { ENVIRONMENT = "stage", UE_HOST = "stage-ue.da.live", UE_SERVICE = "https://universal-editor-service-dev.adobe.io", DA_ADMIN = "https://admin.da.live" }
services = [{ binding = "daadmin", service = "da-admin" }]

[env.stage.observability]
enabled = true
